/* Icons from the Silk icon set 1.3 */
/*
.viewCat a, .editCat a, .addCat a, .deleteCat a {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	text-indent: -3000px;
}

.viewCat a { background-image: url(../img/contextmenu/page_white_go.png); }
.editCat a { background-image: url(../img/contextmenu/page_white_edit.png); }
.addCat a { background-image: url(../img/contextmenu/page_white_add.png); }
.deleteCat a { background-image: url(../img/contextmenu/page_white_delete.png); }
.element-list ul.actions li.move-up a { background-image: url(../img/application_get.png); }
.element-list ul.actions li.move-down a { background-image: url(../img/application_put.png); } 
*/
